<!-- <button onclick="
    Object.entries(code).forEach(([key,value]) => {
      answer[key] = key;
      document.getElementById(`ask-${key}`).appendChild(document.getElementById(`ans-${key}`));
    });
    check_task();
">выполнить</button> -->
</body>
</html>