<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/lib/interact.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/functions.js"></script>
    <script src="/lib/jquery.cookie.js"></script>
</head>
<body>
    <style>
        *{
            user-select: none;
            font-size: 16pt;
        }
        .main{
            margin: auto auto;
            display: block;
            width: 90vw;
            
        }
        .header{
            display: flex;
        }
        .header h1{
            margin: auto;
        }
        li{
            list-style-type: none;
        }
        ul{
            padding: 0px;
        }
        button{
            padding: 5px;
            border: 1px cornflowerblue solid;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
        }
    </style>